<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guji.book.mapper.AncientBookMapper">
    
    <resultMap type="AncientBook" id="AncientBookResult">
        <result property="bookId"    column="book_id"    />
        <result property="type"    column="type"    />
        <result property="typeName"    column="type_name"    />
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="author"    column="author"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="introduce"    column="introduce"    />
    </resultMap>

    <sql id="selectAncientBookVo">
        select book_id, ancient_book.type, author,ancient_book.category_id,name,url,introduce,category_name,dict_label as type_name
        from ancient_book
        left join ancient_books_category on ancient_book.category_id = ancient_books_category.category_id
        left join sys_dict_type on sys_dict_type.dict_type = 'book_type'
        left join sys_dict_data on sys_dict_data.dict_value = ancient_book.type and sys_dict_type.dict_type = sys_dict_data.dict_type
    </sql>

    <select id="selectAncientBookList" parameterType="AncientBook" resultMap="AncientBookResult">
        <include refid="selectAncientBookVo"/>
        <where>  
            <if test="type != null  and type != ''"> and ancient_book.type = #{type}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="categoryId != null  and categoryId != ''"> and ancient_book.category_id = #{categoryId}</if>
            <if test="name != null  and name != ''"> and name  like CONCAT('%', #{name}, '%') </if>
        </where>
    </select>
    
    <select id="selectAncientBookByBookId" parameterType="Long" resultMap="AncientBookResult">
        <include refid="selectAncientBookVo"/>
        where book_id = #{bookId}
    </select>

    <insert id="insertAncientBook" parameterType="AncientBook">
        insert into ancient_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">book_id,</if>
            <if test="type != null">type,</if>
            <if test="author != null">author,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="name != null">name,</if>
            <if test="url != null">url,</if>
            <if test="introduce != null">introduce,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">#{bookId},</if>
            <if test="type != null">#{type},</if>
            <if test="author != null">#{author},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="name != null">#{name},</if>
            <if test="url != null">#{url},</if>
            <if test="introduce != null">#{introduce},</if>
         </trim>
    </insert>

    <update id="updateAncientBook" parameterType="AncientBook">
        update ancient_book
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="author != null">author = #{author},</if>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="url != null">url = #{url},</if>
            <if test="introduce != null">introduce = #{introduce},</if>
        </trim>
        where book_id = #{bookId}
    </update>

    <delete id="deleteAncientBookByBookId" parameterType="Long">
        delete from ancient_book where book_id = #{bookId}
    </delete>

    <delete id="deleteAncientBookByBookIds" parameterType="String">
        delete from ancient_book where book_id in 
        <foreach item="bookId" collection="array" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </delete>
</mapper>